
<div class="minimap-viewport" id="minimap-viewport" 
     style="position: absolute; width:{{width}}px; 
					  height: {{height}}px; 
					  background-color:rgba(120,120,120, 0.6);  
					  left: {{left}}%; 
					  top: {{top}}%">
</div>

