<div id='{{id}}' class='node root {{#if folded}}folded{{/if}}'>
  <div class='inner-node'>
    {{#if isHTML}}
      {{{nodeText}}}
    {{else}}
      {{nodeText}}
    {{/if}}
  </div>
  <div class='children'></div>
  <i class='icon-minus-sign fold'></i>
  <div class='controls'>
    <i class='icon-edit action-edit'></i>
    <i class='icon-file action-new-node'></i>
    <i class='icon-globe action-share'></i>
    <i class='icon-comment action-show'></i>
    <i class='icon-wrench action-change'></i>    
  </div>
</div>