@(credentialsForm: Form[models.frontend.Credentials])

@import helper._
@import helper.twitterBootstrap._
@implicitField = @{ FieldConstructor(views.html.bootstrap.form.horizontalFieldConstructor.f) }

@main("Login", additionalBodyClasses = "login-page") {
    @helper.form(action = routes.User.login, args = 'id -> "login-form") {
        @helper.inputText(credentialsForm("username"), '_label -> "username")
        @helper.inputPassword(credentialsForm("password"),  '_label -> "password")

        @credentialsForm.globalErrors.map { error =>
            <div class="alert alert-error"><p>@error.message</p></div>
        }

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    }
}