@docear-blue: #073E6A;

.docear-test {background: @docear-blue; color: white;}

#mindmap {
    width: 1024px;
    height: 700px;
    position: relative;
    background: #fcfcfc
}

#mindmap .node {
    padding: 10px;
    border: thin solid black;
    border-radius: 30px ;
    display: inline-block;
    position: absolute;
}

#mindmap .node.selected {
    background: green;
}