@(message: String)

@main("Mindmap") {
<p class="docear-test">@i("welcome", "user")</p>

<div id="mindmap">
    <span class="shape ui-draggable node" data-shape="ellipse" class="node" id="element1" style="margin-right: 180px;">Element 1</span>
    <span data-shape="ellipse" class="node" id="element2">Element 2</span>
    <span data-shape="ellipse" class="node" id="element3" style="top: 120px; position: relative;">Element 3</span>
</div>

<pre>@examples.JsonDeserialization.serializedMindMap</pre>
}